@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.fade-enter {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade-exit-active {
  opacity: 0;
}
